<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juraganpisang.sinaujowo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinauJowo">
        <activity
            android:name=".BookmarkActivity"
            android:exported="true" />
        <activity
            android:name=".AnswerActivity"
            android:exported="true" />
        <activity
            android:name=".MyProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ScoreActivity"
            android:exported="true" />
        <activity
            android:name=".StartTestActivity"
            android:exported="true" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".TestActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SinauJowo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>